/* Navigation Bar */
body{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
}
header{
    background-color: #333;
    padding: 20px;
}
nav ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
nav ul li{
    display: inline-block;
    margin-right: 20px;
}
nav ul li a{
    color: #fff;
    text-decoration: none;
}
nav ul li a:hover{
    color: #ffd700;
}

/* Banner */
#banner{
    background-image: linear-gradient(rgba(0, 0, 0, 0.4),rgba(0, 0, 0, 0.4)),url("linkedin banner.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    transition: color 0.3s ease-in;
    text-align: center;
    color: #ffd700;
    padding: 100px 0;
}
#banner:hover{
    color: orange;
}
#banner h1{
    font-size: 36px;
    margin-bottom: 30px;
}
#banner p{
    font-size: 18px;
    margin-bottom: 20px;
}
#banner .btn{
    display: inline-block;
    padding: 10px 20px;
    background-color: #ffd700;
    color: #333;
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.3s ease-in;
}
#banner .btn:hover{
    background-color: orange;
}
#banner .btn:active{
    background-color: #fff;
}

/* About */
#about{
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 30px;
}
#about h2{
    color: #333;
    font-size: 24px;
    margin-bottom: 20px;
}
.about-content{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.profile-image{
    width: 200px;
    border-radius: 50%;
    margin-right: 30px;
    border-style: solid;
    border-color: #fa4327;
    border-width: thick;
    transition: border-color 0.3s ease-in
}
.profile-image:hover{
    border-color: #ffd700;
}
.bio h3{
    font-size: 20px;
    margin-bottom: 10px;
}
.bio p{
    font-size: 16px;
    color: #777;
}

/* Projects */
#projects {
    background-color: #f9f9f9;
    padding: 50px 0;
}
#projects h2 {
    color: #333;
    font-size: 24px;
    text-align: center;
    margin-bottom: 30px;
}
.project {
    display: flex;
    margin-bottom: 30px;
}
.project-image {
    width: 200px;
    object-fit: contain;
    border-radius: 4px;
    margin-right: 30px;
}
.project-info {
    flex-grow: 1;
}
.project-info h3 {
    font-size: 20px;
    margin-bottom: 10px;
}
.project-info ul li{
    font-size: 16px;
    color: #777;
    margin-bottom: 20px;
}
.project-info .btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #ffd700;
    color: #333;
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}
.project-info .btn:hover {
    background-color: #fff;
}

/* Contact */
.links{
    color: #fff;
    text-decoration: none; 
}
.links:hover{
    color: #ffd700;
}
#contact {
    background-color: #333;
    padding: 50px 0;
}
#contact h2 {
    color: #fff;
    font-size: 24px;
    text-align: center;
    margin-bottom: 30px;
}
.contact-content {
    display: flex;
    justify-content: center;
}
.contact-info {
    text-align: center;
    margin: 0 20px;
}
.contact-info i {
    font-size

: 36px;
    color: #ffd700;
    margin-bottom: 10px;
}
.contact-info h3 {
    color: #ffd700;
    font-size: 18px;
    margin-bottom: 10px;
}
.contact-info p {
    color: #fff;
    font-size: 16px;
    margin-bottom: 0;
}

/* Footer */
footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}
footer p {
    font-size: 14px;
}
