/* styles.css */

/* Global Styles */
body {
	font-family: "Arial", sans-serif;
	margin: 0;
	padding: 0;
	background-color: #f5f5f5;
}

/* Header Styles */
header {
	background-color: #333;
	padding: 20px;
}
#header nav h1{
	font-size: 28px;
	color: white;
}
nav{
	display: flex;
    justify-content: space-around;
	align-items: center;
}
nav ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

nav ul li {
	display: inline-block;
	margin-right: 20px;
}

nav ul li a {
	color: #fff;
	text-decoration: none;
	transition: color 0.3s ease;
}

nav ul li a:hover {
	color: #ffd700;
}

/* Banner Section Styles */
section#banner {
	background-image: linear-gradient(to bottom, #aaa29f, #50c7e8);
	text-align: center;
	color: #fff;
	padding: 100px 0;
}

section#banner h1 {
	font-size: 36px;
	margin-bottom: 30px;
}

#banner {
	background-image: linear-gradient(to bottom, #aaa29f, #50c7e8);
	text-align: center;
	color: #fff;
	padding: 100px 0;
}

#banner h1 {
	font-size: 36px;
	margin-bottom: 30px;
}

#banner p {
	font-size: 18px;
	margin-bottom: 20px;
}

#banner .btn {
	display: inline-block;
	padding: 10px 20px;
	background-color: #c8c5b5;
	color: #333;
	text-decoration: none;
	border-radius: 4px;
	transition: background-color 0.3s ease;
}

#banner .btn:hover {
	background-color: #e16767;
}

/* About Section Styles */
section#about {
	display: flex;
	flex-direction: row-reverse;
	justify-content: space-evenly;
	background-color: #fff;
	border-radius: 10px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	padding: 30px;
}

section#about h2 {
	color: #333;
	font-size: 24px;
	margin-bottom: 20px;
}

.profile-image {
	width: 200px;
	border-radius: 50%;
	margin-right: 30px;
}

.mr-30 {
	margin-right: 30px;
}

.bg-red {
	background-color: #f5f5f5;
}
/* Projects Section Styles */
section#projects {
	background-color: #f5f5f5;
	padding: 30px;
}
.container{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 10px;
}
section#projects h2 {
	color: #333;
	font-size: 24px;
	margin-bottom: 30px;
}

div.project {
	width: 50%;
	background-color: #fff;
	border-radius: 10px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	padding: 20px;
	margin-bottom: 20px;
}

div.project h3 {
	color: #333;
	font-size: 20px;
	margin-bottom: 10px;
}

div.project p {
	color: #666;
}

/* Contact Section Styles */
section#contact {
	background-color: #333;
	color: #fff;
	padding: 30px;
}

#projects {
	background-color: #f9f9f9;
	padding: 50px 0;
}

#projects h2 {
	color: #333;
	font-size: 24px;
	text-align: center;
	margin-bottom: 30px;
}

.project {
	display: flex;
	margin-bottom: 30px;
}

.project-image {
	width: 300px;
	object-fit: cover;
	border-radius: 4px;
	margin-right: 30px;
}

.project-info {
	flex-grow: 1;
}

.project-info h3 {
	font-size: 20px;
	margin-bottom: 10px;
}

.project-info p {
	font-size: 16px;
	color: #777;
	margin-bottom: 20px;
}

.project-info .btn {
	display: inline-block;
	padding: 10px 20px;
	background-color: #ffd700;
	color: #333;
	text-decoration: none;


	border-radius: 4px;
	transition: background-color 0.3s ease;
}

.project-info .btn:hover {
	background-color: #fff;
}

section#contact h2 {
	font-size: 24px;
	margin-bottom: 20px;
}

section#contact p,
section#contact li {
	font-size: 18px;
	margin-bottom: 10px;
}

/* Footer Styles */
footer {
	background-color: #333;
	color: #fff;
	padding: 20px;
	text-align: center;
}

footer p {
	font-size: 14px;
}

#contact {
	background-color: #333;
	padding: 50px 0;
}

#contact h2 {
	color: #fff;
	font-size: 24px;
	text-align: center;
	margin-bottom: 30px;
}

.contact-content {
	display: flex;
	justify-content: center;
}

.contact-info {
	text-align: center;
	margin: 0 20px;
}

.contact-info i {
	font-size: 36px;
	color: #ffd700;
	margin-bottom: 10px;
}

.contact-info h3 {
	color: #ffd700;
	font-size: 18px;
	margin-bottom: 10px;
}

.contact-info p {
	color: #fff;
	font-size: 16px;
	margin-bottom: 0;
}