*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Karla, sans-serif;
}
.center-align{
    margin: auto;
    text-align: center;
    background-color: #ffffff;
    padding-bottom: 50px;
}
#background{
    position: fixed;
    z-index: -1;
    width: 100vw;

}
.wrapper{
    width: 100vw;
}
#out_div{
    width: 100%;
    text-align: center;
}
#header{
    height: 60px;
    width: 100%vw;
    padding-top: 10px;
    background-color: #634B4B;

}
.cart{
    color: white;
    display: flex;
    align-items: center;
}
.cart-logo{
   width: 18px;
   margin-right:5px;

}
.cart p{
    font-size: 12px;
}
.cart-counter{
    background-color: #2f2e2e;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    margin-left: 5px;
    padding-top: 2px;
    text-align: center;
    font-size: small;
}
#header_nav{
    display: flex;

}
#nav_items{
    display: flex;
    /* height: 100vh; */
    flex-direction: row;
    justify-content: space-evenly;
    margin-right: 10%;
    margin-left: 25%;
}
#nav_items li{
    align-items: center;
    padding: 15px 20px;
    list-style: none;
    font-size: 13px;
    font-weight: 500;
    color: #ffffff;
}
#welcome_section{
    width: 1440;
    height: 500px;
    display: inline-block;
}
.welcome_image_sec{
    position: relative;
    height: 500px;
    width: 100%;
    background-color: #91827d;
    text-align: center;
}
.welcome_info{
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
  position: absolute;
    color: white;
}
.large-font{
    font-size: 40px;
    padding: 30px 0;
    font-weight: 300;
    color: #ffffff;
}
.welcome_info h4{
    font-size: 14px;
    letter-spacing: 5px;
    font-weight: 300;
}
.welcome_info button{
    height: 50px;
    width: 250px;
    font-size: 14px;
    background-color: white;
    border-style: none;
    opacity: 50%;
}
.welcome_info p{
    font-size: medium;
    padding: 20px;

}

#welcome_image{
    display: inline-block;
    width:100%;
    height: 100%;
}
.about-coffee{
    width: 800px;
    padding-top: 100px;
    text-align: center;
    margin-left: 20%;
}
.about-coffee-title{
    font-size: 25px;
    padding-bottom: 30px;
}
.about-coffee-details{
padding-bottom: 30px;
}
.about-coffee-readmore{
    width: 80px;
    text-decoration: none;
    border-bottom: 2px solid #90817D;
    padding-bottom: 3px;
    color: #A35F4B;
}
about-coffee-readmore bottom{
   padding-top:20px;
}
#product-listing{
    width: 80%;
    margin-left: 10%;
    /* background-color: gray; */
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    /* flex-wrap: wrap; */
    align-content: center;
    justify-content: center;
}
.product-session{
    width: 100%;
    height: 1400px;
    background-color: aquamarine;
    margin-left: 25%;
}
.product-list{
    display: flex;
    flex-direction: row;
    padding: 30px 20px;
    
}
.product-list li{
    list-style: none;
}
.product-item{
    height: 300px;
    width: 300px;
    font-weight: 60px;
    /* background-color: Green; */
    margin: 40px 50px 10px 20px;
    position: relative;
}
.product-item img{
    margin-bottom: 30px;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
    
}
.product-item img:hover{
    display: block;
}
.order-button{
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    font-size:16px;
    /* display: none; */
    width: 150px;
    height: 50px;
    border-style: none;
}
.order-button a{
    text-decoration: none;
    color: inherit;
}
.order-button:hover{
    visibility: visible;
}
.price-info {
    color: #61626C;
    padding: 12px 5px;
    font-weight: 500;
}
.price-info>p>span{
    padding: 0px 3px;
}
.item-description{
    margin-top: 10px;
    font-size: 18px;
    color: #000000;
}
.price-info{
    display: flex;
    justify-content: center;
}
.game-session{
    padding-top: 45px;
    width: 100vw;
    height: 400px;
    background-color: white;
    padding-bottom: 40px;
    margin: auto;
}

.game-wrapper{
    width: 1000px;
    height: 300px;
    background-color: #cfcece;
    border: 2px Solid #634B4B;
    border-color: #634B4B;
    text-align: center;
    padding-bottom: 40px; 
    margin: auto; 
}
.about-title-game{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
}
.game-info{
    padding-top: 40px;
}
.game-info p{
    font-size: 75px;
}

#empty{
    height: 300px;
    width: 100vw;
    padding: 100px 0;
    text-align: left;
    background-color: none;
    justify-items: left;
    align-items: left;
    justify-content: left;

}
#about-us-section{
    height: 100%;
    width: 100vw;
    padding: 50px 0 0 0;
    background-color:#ffffff;
}
#about-us{
    display: flex;
    flex-direction: column;
    align-items: center;

}
.about-title{
    display: flex;
    align-items:center;
    margin: 100px 0;
}

.about-title h3{
    padding: 0px;
    margin: 0px;
}
.about-title-line{
    border-bottom: 1px solid grey;
    transform: rotate(180deg);
    width: 100px;
}
.begin{
    /* transform-origin: left; */
    margin-right: 20px;
}
.end{
    margin-left: 20px;
}
.about-us-article{
    padding-top: 5%;
    padding-bottom: 5%;
    width: 40%;
    text-align: center;
    font-size: 18px;
}
.about-us-article p{
    padding-bottom: 2%;
}
.subcribe-form-wrapper{
    padding-bottom: 50px;
    margin: auto;
    width: 80%;
    background-color: #634B4B;
}
.subcribe-form{
    margin-left: 70px;
}
.subcribe-form input{
    padding: 10px 8px;
}
.subcribe-form input[type=text]{
    width: 30%;
    padding: 10px 20px;
}
.subcribe-form input[type=text]:hover{
    border-color: #91827d;
}
.subcribe-form input[type=submit]{
    width: 10%;
}
.subcribe-form input[type=submit]:hover{
    background-color: rgb(77, 54, 54);
}

.subcribe-form-title{
    color: white;
    font-size: 14px;
    justify-content: center;
    align-items: center;
    margin:  0px;
    padding-top: 30px;
}
.contact-us-wrapper{
    display: flex;
    justify-content: space-evenly;
    width: 50%;
    margin: auto;
    align-content: space-evenly;
    padding-bottom: 50px;
    
    
}
.z{
    padding-top: 12px;
}
.contact-us-session{
    background-color: #ffffff;
   padding-top: 5%;
    
}
div li{
    list-style: none;
}
.contact-us-links a{
    list-style: none;
    text-decoration: none;
    color:#000000;
}
.contact-us-links div{
    padding-top: 10px;
}
.contact-us-links li{
    padding-top: 10px;
}
.contact-us-links address p{
    padding-top: 10px;
}
.contact-us-links address{
    padding-top: 10px;
}