body {
    background-color: #212121;
    color: #000;
}

.calculator {
    max-width: 400px;
    margin: 40px auto;
    background-color: var(--bg-color);
    color: var(--text-color);
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.theme-toggle {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin-bottom: 10px;
}

.display {
    margin-bottom: 20px;
    width: 100%;
}


#input {
    overflow: hidden;
    width: 100%;
    padding: 8px;
    font-size: 20px;
    text-align: right;
    border: none;
    background-color: #f2f2f2;
    color: black;
    border-radius: 10px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

#output {
    font-size: 16px;
    color: #999;
    float: right;
    margin-top: -20px;
}


.keypad {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    width: 100%;
}


.numbers,
.operations {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}


button {
    width: 100%;
    padding: 20px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    background-color: #e0e0e0;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: background-color 0.3s ease;
}


button:hover {
    background-color: #594b4b;
}


.operator-btn {
    background-color: #ff9f00;
    color: #fff;
}

.operator-btn:hover {
    background-color: #c5b689;
}

.dark-mode {
    --bg-color: #333;
    --text-color: #fff;
}


.dark-mode button {
    background-color: #444;
    color: #fff;
    box-shadow: 0 1px 3px rgba(255,

            255, 255, 0.1);
}


.dark-mode button:hover {
    background-color: #555;
}


.dark-mode .operator-btn {
    background-color: #ff9f00;
    color: #000;
}

.dark-mode .operator-btn:hover {
    background-color: #ffbf00;
    color: #000;
}